<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="TypeScript Editor"
            extensions="ts"
            icon="icons/typescript_file.png"
            contributorClass="com.axmor.eclipse.typescript.editor.TypeScriptEditorActionContributor"
            class="com.axmor.eclipse.typescript.editor.TypeScriptEditor"
            default="true"
            id="com.axmor.eclipse.typescript.editor.TypeScriptEditor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="com.axmor.eclipse.typescript.editor.TypeScriptDocumentProvider"
            inputTypes="org.eclipse.ui.IStorageEditorInput"
            extensions="ts"
            id="com.axmor.eclipse.typescript.editor.TypeScriptDocumentProvider">
      </provider>
   </extension>
   
   <extension
       point="org.eclipse.ui.contexts">
      <context
           name="Editing TypeScript Source"
           description="Editing TypeScript Source Context"
           parentId="org.eclipse.ui.textEditorScope"
           id="com.axmor.eclipse.typescript.editor.TypeScriptEditorScope">
      </context>
   </extension>
	
   <extension
      point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
           activate="true"
           class="com.axmor.eclipse.typescript.editor.TypeScriptElementHyperlinkDetector"
	       description="A hyperlink detector for Type Script source code elements"
    	   id="com.axmor.eclipse.typescript.AntElementHyperlinkDetector"
	       name="TypeScript Element"
    	   targetId="com.axmor.eclipse.typescript.sourceFiles">
      </hyperlinkDetector>
   </extension>
     
   <extension
       point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
  	  <target
           id="com.axmor.eclipse.typescript.sourceFiles"
    	   name="Type Script Editor">
           <context type="com.axmor.eclipse.typescript.editor.TypeScriptEditor"/>
  	  </target>
   </extension>
	
   <extension
    	id="TypeScriptSearchResultPage"
        point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="com.axmor.eclipse.typescript.TypeScriptSearchResultPage"
			searchResultClass="com.axmor.eclipse.typescript.editor.search.TypeScriptSearchResult"
			helpContextId="com.axmor.eclipse.typescript.search_result"
			class="com.axmor.eclipse.typescript.editor.search.TypeScriptSearchResultPage">
		</viewPage>
   </extension>
	
   <extension point="org.eclipse.ui.commands">
      <category
           name="Source"
           description="TypeScript Source Actions"
           id="com.axmor.eclipse.typescript.category.source">
      </category>
      <category
           name="Navigate"
           description="TypeScript Navigate Actions"
           id="com.axmor.eclipse.typescript.category.navigate">
      </category>
      <category
           name="Search"
           description="TypeScript Search Actions"
           id="com.axmor.eclipse.typescript.category.search">
      </category>
      
      <command 
           name="Toggle Comment" 
           description="Toggle comment the selected lines"
           categoryId="com.axmor.eclipse.typescript.category.source" 
           defaultHandler="com.axmor.eclipse.typescript.editor.handlers.ToggleCommentHandler" 
           id="com.axmor.eclipse.typescript.edit.toggle.comment" />
           
      <command 
           name="Open Declaration" 
           description="Open an editor on the selected element"
           categoryId="com.axmor.eclipse.typescript.category.navigate" 
           defaultHandler="com.axmor.eclipse.typescript.editor.handlers.OpenDeclarationHandler" 
           id="com.axmor.eclipse.typescript.navigate.open.declaration" />

      <command 
           name="Open Type" 
           description="Open a type in a TypeScript Editor"
           categoryId="com.axmor.eclipse.typescript.category.navigate" 
           defaultHandler="com.axmor.eclipse.typescript.editor.handlers.OpenTypeHandler" 
           id="com.axmor.eclipse.typescript.navigate.open.type" />
           
      <command 
           name="Format" 
           description="Format the selected text"
           categoryId="com.axmor.eclipse.typescript.category.source" 
           defaultHandler="com.axmor.eclipse.typescript.editor.handlers.FormatCodeHandler" 
           id="com.axmor.eclipse.typescript.edit.format" />
      
      <command 
           name="References in Workspace" 
           description="Search for references to the selected element in the workspace"
           categoryId="com.axmor.eclipse.typescript.category.search" 
           defaultHandler="com.axmor.eclipse.typescript.editor.handlers.FindReferencesHandler" 
           id="com.axmor.eclipse.typescript.search.references" />

      <command 
           name="Rename"
           description="Rename all references of the selected element"
           categoryId="com.axmor.eclipse.typescript.category.source" 
           defaultHandler="com.axmor.eclipse.typescript.editor.handlers.RenameCodeHandler" 
           id="com.axmor.eclipse.typescript.edit.rename" />

      <command 
           name="Quick Outline" 
           description="Show the quick outline for the editor input"
           categoryId="com.axmor.eclipse.typescript.category.navigate" 
           defaultHandler="com.axmor.eclipse.typescript.editor.handlers.QuickOutlineHandler" 
           id="com.axmor.eclipse.typescript.navigate.show.outline" />
           
      <command 
           name="Add TypeScript Definition" 
           description="Add TypeScript definition file for popular JavaScript libraries from online repository"
           categoryId="com.axmor.eclipse.typescript.category.source" 
           defaultHandler="com.axmor.eclipse.typescript.editor.handlers.AddTypeScriptDefinitionHandler" 
           id="com.axmor.eclipse.typescript.edit.add_def" />
           
	  <command 
      	name="Toogle Mark Occurrences"
      	description="Toogle Mark Occurrences"
      	categoryId="org.eclipse.jdt.ui.category.source"
      	id="com.axmor.eclipse.typescript.toggleMarkOccurrences" />
   </extension>
	
    <extension point="org.eclipse.ui.bindings">
      <key
           sequence="M1+/"
           contextId="com.axmor.eclipse.typescript.editor.TypeScriptEditorScope"
           commandId="com.axmor.eclipse.typescript.edit.toggle.comment"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           sequence="F3"
           contextId="com.axmor.eclipse.typescript.editor.TypeScriptEditorScope"
           commandId="com.axmor.eclipse.typescript.navigate.open.declaration"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           sequence="M1+M2+T"
           contextId="com.axmor.eclipse.typescript.editor.TypeScriptEditorScope"
           commandId="com.axmor.eclipse.typescript.navigate.open.type"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           sequence="M1+M2+F"
           contextId="com.axmor.eclipse.typescript.editor.TypeScriptEditorScope"
           commandId="com.axmor.eclipse.typescript.edit.format"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           sequence="M1+M2+G"
           contextId="com.axmor.eclipse.typescript.editor.TypeScriptEditorScope"
           commandId="com.axmor.eclipse.typescript.search.references"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           sequence="M1+R"
           contextId="com.axmor.eclipse.typescript.editor.TypeScriptEditorScope"
           commandId="com.axmor.eclipse.typescript.edit.rename"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           sequence="M1+O"
           contextId="com.axmor.eclipse.typescript.editor.TypeScriptEditorScope"
           commandId="com.axmor.eclipse.typescript.navigate.show.outline"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           sequence="M1+M2+D"
           contextId="com.axmor.eclipse.typescript.editor.TypeScriptEditorScope"
           commandId="com.axmor.eclipse.typescript.edit.add_def"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
           
      <key 
  	    	sequence="M2+M3+O"
  	    	contextId="com.axmor.eclipse.typescript.editor.TypeScriptEditorScope"
  	    	commandId="com.axmor.eclipse.typescript.toggleMarkOccurrences"
  	    	schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
  	    	
	  <key 
      		platform="carbon" 
      		sequence="M1+M3+O" 
			contextId="com.axmor.eclipse.typescript.editor.TypeScriptEditorScope"
			commandId="com.axmor.eclipse.typescript.toggleMarkOccurrences"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />  	    	            
    </extension>
	      
    <extension point="org.eclipse.compare.contentViewers">

          <contentTypeBinding
                contentTypeId="com.axmor.eclipse.typescript.core.ts" 
                contentViewerId="com.axmor.eclipse.typescript.editor.compare.TypeScriptViewer"/>

          <viewer
                id="com.axmor.eclipse.typescript.editor.compare.TypeScriptViewer" 
                extensions="ts,d.ts"
                class="com.axmor.eclipse.typescript.editor.compare.TypeScriptViewerCreator"/>
    </extension>
    
    <extension point="org.eclipse.compare.contentMergeViewers">

          <contentTypeBinding
                contentTypeId="com.axmor.eclipse.typescript.core.ts"
                contentMergeViewerId="com.axmor.eclipse.typescript.editor.TypeScriptMergeViewer"/>

          <viewer
                id="com.axmor.eclipse.typescript.editor.TypeScriptMergeViewer" 
                extensions="ts,d.ts"
                class="com.axmor.eclipse.typescript.editor.compare.TypeScriptMergeViewerCreator"/>
    </extension>	
    
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TypeScriptEditorContext?after=group.add">
            <menu label="Source">
                <visibleWhen checkEnabled="true">
                    <with variable="activeEditor">
                        <instanceof value="com.axmor.eclipse.typescript.editor.TypeScriptEditor"/>
                    </with>
                </visibleWhen>
                <command
                    commandId="com.axmor.eclipse.typescript.edit.toggle.comment" 
                    label="Toggle Comment"
                    style="toggle">
                </command>
                <separator
                     name="com.axmor.eclipse.typescript.editor.separator1">
                </separator>
                <command
                    commandId="com.axmor.eclipse.typescript.edit.format" 
                    label="Format"
                    style="toggle">
                </command>
                <command
                    commandId="com.axmor.eclipse.typescript.edit.add_def" 
                    label="Add TypeScript Definition from Catalog..."
                    style="toggle">
                </command>
            </menu>
            <menu label="Refactor">
                <visibleWhen checkEnabled="true">
                    <with variable="activeEditor">
                        <instanceof value="com.axmor.eclipse.typescript.editor.TypeScriptEditor"/>
                    </with>
                </visibleWhen>
                <command
                    commandId="com.axmor.eclipse.typescript.edit.rename" 
                    label="Rename..."
                    style="toggle">
                </command>
            </menu>
            <separator
                  name="com.axmor.eclipse.typescript.editor.separator1">
            </separator>
        </menuContribution>
        <menuContribution
            locationURI="popup:#TypeScriptEditorContext?after=com.axmor.eclipse.typescript.editor.separator1">
            <menu label="References">
                <visibleWhen checkEnabled="true">
                    <with variable="activeEditor">
                        <instanceof value="com.axmor.eclipse.typescript.editor.TypeScriptEditor"/>
                    </with>
                </visibleWhen>
                <command
                    commandId="com.axmor.eclipse.typescript.search.references" 
                    label="Workspace"
                    style="toggle">
                <visibleWhen checkEnabled="true">
                    <with variable="activeEditor">
                        <instanceof value="com.axmor.eclipse.typescript.editor.TypeScriptEditor"/>
                    </with>
                </visibleWhen>
                </command>
            </menu>    
        </menuContribution>
        <menuContribution
            locationURI="popup:#TypeScriptEditorContext?endof=group.open">
                <command
                    commandId="com.axmor.eclipse.typescript.navigate.open.declaration" 
                    label="Open Declaration"
                    style="toggle">
                <visibleWhen checkEnabled="true">
                    <with variable="activeEditor">
                        <instanceof value="com.axmor.eclipse.typescript.editor.TypeScriptEditor"/>
                    </with>
                </visibleWhen>
                </command>
                <command
                    commandId="com.axmor.eclipse.typescript.navigate.show.outline" 
                    label="Quick Outline"
                    style="toggle">
                <visibleWhen checkEnabled="true">
                    <with variable="activeEditor">
                        <instanceof value="com.axmor.eclipse.typescript.editor.TypeScriptEditor"/>
                    </with>
                </visibleWhen>
                </command>
        </menuContribution>
    </extension>    
    
    <extension point="org.eclipse.ui.preferencePages">    
    <page
          class="com.axmor.eclipse.typescript.editor.preferences.TypescriptSyntaxColoringPage"
          id="com.axmor.eclipse.typescript.editor.preferences.TypescriptSyntaxColoringPage"
          category="com.axmor.eclipse.typescript.core.ui.TypescriptEditorPreferencePage"
          name="Syntax Coloring">
    </page>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">    
    <initializer class="com.axmor.eclipse.typescript.editor.preferences.TypescriptPreferenceInitializer">
 	</initializer>
	</extension>
    
    <extension point="org.eclipse.ui.actionSets">
 		<actionSet label="TypeScript Editor Presentation" 
 			visible="false" 
 			id="com.axmor.eclipse.typescript.editor.actionSet.presentation">
  			<action allowLabelUpdate="true" 
  				style="toggle" 
  				toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Presentation" 
  				id="com.axmor.eclipse.typescript.toggleMarkOccurrences" 
  				definitionId="com.axmor.eclipse.typescript.toggleMarkOccurrences"
  				disabledIcon="$nl$/icons/full/dtool16/mark_occurrences.png" 
  				icon="$nl$/icons/full/etool16/mark_occurrences.png" 
  				label="Toggle TypeScript Mark Occurrences" 
  				retarget="true" 
  				tooltip="Toggle TypeScript Mark Occurrences" />
  		</actionSet>
  	</extension>
  	
  	<extension point="org.eclipse.ui.actionSetPartAssociations">
	  	<actionSetPartAssociation targetID="com.axmor.eclipse.typescript.editor.actionSet.presentation">
	         <part id="com.axmor.eclipse.typescript.editor.TypeScriptEditor"/>
		</actionSetPartAssociation>
	</extension>
	
    <extension point="org.eclipse.core.resources.markers" id="tsDiagnostic" name="TypeScript Diagnostic">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <persistent value="true"/>
    </extension>
    
    <extension point="org.eclipse.ui.newWizards">      
      <category
            id="typescriptCategoryWizard"
            name="TypeScript">
        </category>
        <wizard
            category="typescriptCategoryWizard"
            class="com.axmor.eclipse.typescript.editor.wizards.NewClassWizard"
            icon="icons/typescript_file.png"
            id="com.axmor.eclipse.typescript.editor.wizards.NewClassWizard"
            name="TypeScript File">
        </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.themes">
		<colorDefinition
        	id="com.axmor.eclipse.typescript.editor.ts_default"
         	isEditable="false"
         	label="%Dummy.label"
         	value="0,0,0"/>
		<colorDefinition
        	id="com.axmor.eclipse.typescript.editor.ts_reference"
         	isEditable="false"
         	label="%Dummy.label"
         	value="90,90,90"/>
		<colorDefinition
        	id="com.axmor.eclipse.typescript.editor.ts_keyword"
         	isEditable="false"
         	label="%Dummy.label"
         	value="127,0,85"/>
		<colorDefinition
        	id="com.axmor.eclipse.typescript.editor.ts_string"
         	isEditable="false"
         	label="%Dummy.label"
         	value="42,0,255"/>
		<colorDefinition
        	id="com.axmor.eclipse.typescript.editor.ts_comment"
         	isEditable="false"
         	label="%Dummy.label"
         	value="63,127,25"/>
		<colorDefinition
        	id="com.axmor.eclipse.typescript.editor.ts_number"
         	isEditable="false"
         	label="%Dummy.label"
         	value="51,0,102"/>
		<colorDefinition
        	id="com.axmor.eclipse.typescript.editor.ts_java_doc"
         	isEditable="false"
         	label="%Dummy.label"
         	value="63,95,121"/>
		<colorDefinition
        	id="com.axmor.eclipse.typescript.editor.ts_brackets"
         	isEditable="false"
         	label="%Dummy.label"
         	value="42,0,255"/>
   </extension>
   
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet
            uri="css/e4-dark_typecs_syntaxhighlighting.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark">
         </themeid>
      </stylesheet>
   </extension>
   
   <extension point="org.eclipse.ui.console.consoleFactories">
    <consoleFactory
      class="com.axmor.eclipse.typescript.editor.console.TypescriptConsoleFactory"
      icon="icons/typescript_file.png"
      label="TypeScript Console" />
  </extension>
</plugin>
