<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
      sourceLocatorId="com.axmor.eclipse.typescript.debug.sourceLookupDirector"
      sourcePathComputerId="com.axmor.eclipse.typescript.debug.sourcePathComputer"
      id="com.axmor.eclipse.typescript.debug.launch_config"
      modes="run, debug"
      delegate="com.axmor.eclipse.typescript.debug.launching.LaunchConfigurationDelegate"
      name="TypeScript Standalone"
      public="true"/>
  </extension>

  <extension point="org.eclipse.debug.core.sourceLocators">
    <sourceLocator
      id="com.axmor.eclipse.typescript.debug.sourceLookupDirector"
      name="TypeScript Source Lookup Director"
      class="com.axmor.eclipse.typescript.debug.launching.TypeScriptSourceLookupDirector"/>
  </extension>
  
  <extension point="org.eclipse.debug.core.sourcePathComputers">
    <sourcePathComputer
      id="com.axmor.eclipse.typescript.debug.sourcePathComputer"
      class="com.axmor.eclipse.typescript.debug.launching.TypeScriptSourcePathComputerDelegate"/>
  </extension>

  <extension point="org.eclipse.debug.core.breakpoints">
    <breakpoint 
      id="com.axmor.eclipse.typescript.debug.breakpoint"
      class="com.axmor.eclipse.typescript.debug.model.TypeScriptLineBreakpoint"
      markerType="com.axmor.eclipse.typescript.debug.typeScriptBreakpoint"/>
  </extension>
    
  <extension point="org.eclipse.core.resources.markers" id="typeScriptBreakpoint">
    <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
    <persistent value="true"/>
  </extension>
</plugin>
